.category {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 12rem;
  padding: 0.5rem 0;
}

.light-blue {
  background-color: #4268b0;
}

.dark-blue {
  background-color: #3e61a3;
}

.category-link {
  text-decoration: none;
  color: white;
  border: 0;
}

.category h3 {
  margin: 0;
}

.category-info {
  text-align: right;
  padding: 0 1rem;
}

.category-title {
  font-size: 1rem;
}

.arrow-circle {
  align-self: flex-start;
  justify-self: flex-start;
  transform: rotate(-90deg);
}

.map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  height: 8rem;
}

.map {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
