.category {
  width: 100%;
  height: 12rem;
}

.light-blue {
  background-color: #4268b0;
}

.dark-blue {
  background-color: #3e61a3;
}

.category-link {
  text-decoration: none;
  color: white;
  border: 0;
}

.category h3 {
  margin: 0;
}
