.main {
  overflow: hidden;
}

.categories {
  list-style-type: none;
  display: grid;
  margin-block: 0;
  padding: 0;
  grid-template-columns: 50% 50%;
  grid-auto-rows: max-content;
  overflow-y: auto;
}

.categories-container li {
  background-color: #4268b0;
}

.categories-container li:nth-child(4n+2) {
  background-color: #3e61a3;
}

.categories-container li:nth-child(4n+3) {
  background-color: #3e61a3;
}

.error-container {
  color: white;
}

.error-message {
  margin-top: 5rem;
  font-size: 3rem;
}
