.main {
  overflow: hidden;
}

.categories {
  list-style-type: none;
  display: grid;
  margin-block: 0;
  padding: 0;
  grid-template-columns: 50% 50%;
  grid-auto-rows: max-content;
  overflow-y: auto;
}

.header {
  display: block;
  background-color: #5485e3;
  color: white;
  padding: 0 0 2rem 0;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  padding-top: 1rem;
  color: black;
}

.filter-button {
  border: 1px solid white;
  padding: 0.5rem;
  background-color: #fff;
}

.categories-container li {
  background-color: #4268b0;
}

.categories-container li:nth-child(4n+2) {
  background-color: #3e61a3;
}

.categories-container li:nth-child(4n+3) {
  background-color: #3e61a3;
}

.error-container {
  color: white;
}

.error-message {
  margin-top: 5rem;
  font-size: 3rem;
}
